*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1920px;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
.hsh{
    
    height:80px ;
    background-color: white;
    display: flex;
    align-items: center;
}
.logo{
    width: 70px;
    height: 70px;
    margin-left: 38px;
    
}
.nomeHp{
    color: #A79A9A;
    font-size: 24px;
    margin-left: 30px;
}
.menuHeader{
margin-left: 650px;

}
.conteudo{
    height: 880px;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
}
.bloco1{
    width: 525px;
    height: 680px;
    background-color: white;
    margin-left: 145px; 
} 
.PerfilNey{
    margin-right: 10px;
}
.NomePaciente{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: unset;
    font-weight: bold;
}
.PerfilTodo{
    display: flex;
    margin-left: 57px;
    margin-top: 57px;
}
.OutrosPerfis{
    display: flex;
    margin-left: 57px;
    margin-top: 35px;
}
.PerfilHr{
    width: 432px;
    margin-left: 57px;
    margin-top: 10px;
}
.TituloLista{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.hrLista{
    width: 78.01px;
    height: 0px;
    border: 2px solid #537BE2;
    background-color:#537BE2 ;
}
.Lista{
    margin-top: 39px;
    margin-left: 48px;
}

.bloco2{
    width: 525px;
    height: 680px;
    background-color: white;
    margin-left: 100px;
    margin-right: 145px;
    
}

.rodaPé{
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SpmgFooter{
    border: none;
    background-color: white;
    margin-right: 245px;
}
.logoFooter{
    height: 60px;
}
.Twitter{
    border: none;
    margin-left: 10px;
    background-color: white;
}
.Facebook{
    margin-left: 10px;
    border: none;
    background-color: white;
}
.Instagram{
    border: none;
    background-color: white;
}
.AppFooter{
    margin-right: 27px;
    height: 45px;
    
}