*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.conteinerHeader{
  height: 80px;
  background-color:#EEEEEE;
  display: flex;
  align-items: center;
  
  
}
.imgLogo{
  margin-left: 40px;
  margin-right: 30PX;
  height: 70px;
  width: 70px;
}
.tituloSP{
  font-size: 24px;
  color: #A79A9A;
  
}
.menuHeader{
  margin-left: 550px;

}
.Cdc{
  margin-right: 20px;
  color: #A79A9A;
}
.BotãoLogin{
  width: 129px;
  height: 38px;
  background-color: #537BE2;
  color:white;
  border: 0;
  border-radius: 10px;
  font-size: 24px;
  font-style: italic;
  margin-left: 20px;
}
.apresentação{
  background-image: url(../assec/piron-guillaume-y5hQCIn1c6o-unsplash\ 1.png);
 
  height: 900px;
  width: 1441px;   
  display: flex;  
  align-items: center;
  justify-content: center;
}

.nomeHp{
  font-size: 48px;
  color: white;
  font-style: italic;
  font-style: oblique;
  display: flex;  
  justify-content: center;
}
.hrHome{
  width: 685px;
  background-color: white;
  border: 2px solid #FFFFFF;
  display: flex;  
  justify-content: center;
  margin-left: 100px;
}
.oqSomos{
  font-size: 48px;
  color: white;
  font-style: italic;
  font-style: oblique;
  display: flex;  
  align-items: center;
  justify-content: center;
}
.blocoVisao{
  background-color:#eeeeee;
  height: 850px;
}
.visao{
  color: #6A6A6A;
  font-size: 54px;
  font-style: italic;
  font-weight: bold;
}
.hrVisao{
  width: 500px;
  border: 2px solid #537BE2;
  background-color: #537BE2;
}
.tituloVisao{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
  .bloco1{
      width: 420px;
      height: 280px;
      background-color: #FFFFFF;
  }